/*
	General
*/
body{
	background: aliceblue;
}

/*
	Board Style
*/
.board{
}

/*
	Note style
*/
.note{
	position: absolute;
	background:yellow;
	min-height: 150px;
}
.note span{
	display: inline-block;
	position: absolute;
	right:5px;
	bottom: 5px;
}
